/*
 * Globals
 * Colors:
 *
 *
 *
 */

$warm-yellow: #EAC67A;
$rusty-red: #984B43;
$curtain-red: #ba0808;
$black: #000000;
$dark-grey: #2c2c2c;
$navy-blue: #18121E;
$gunmetal: #233237;
$light-grey: #4a4a4a;
$grey-white: #f9f9f9;
$grey: #cccdd2;
$ultralight-blue: #e1fbff;
$nemui-blue-1: #5c89b3;
$nemui-blue-2: #6699cc;
$sky-blue: #3e87f4;
$light-blue: #00a4bc;
$orange: #E85930;

$button-hover: $grey;
$nav-color: $orange;
$background-color: $black;
$text-color: $light-grey;
$footer-color: $light-grey;
$nav-text-color: $grey-white;
$font-face: 'Raleway', sans-serif;
body {
  font-family: $font-face;
  color: $text-color;
  background: linear-gradient(to bottom, $nav-color 0%,darken( $nav-color, 20% ) 100%) no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-color: darken( $nav-color, 20% );
}
.bold-thick{
  font-family: $font-face;
  font-weight: bold;
}
.italic{
  font-style: italic;
}
html, body {
    height: 100%;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: $font-face;
  font-weight: normal;
  color: $text-color;
}
/*
 * Override Bootstrap's default container.
 */
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
/*
 * Masthead for nav
 */
.movie-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.movie-description {
  font-size: 20px;
  color: $text-color;
}

.movie-main {
  font-size: 18px;
  line-height: 1.5;
}

.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: $background-color;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

.movie-post {
  margin-bottom: 60px;
}
.movie-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.movie-post-meta {
  margin-bottom: 20px;
  color: $text-color;
}
.movie-footer {
  padding: 40px 0;
  color: $text-color;
  text-align: center;
  background-color: $grey-white;
  border-top: 1px solid #18121E;
}
.movie-footer p:last-child {
  margin-bottom: 0;
}
.navbar-movies{
  background-color: $nav-color;
  background-image: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar-default .navbar-brand{
  color: $ultralight-blue;
  &:hover{
    color: $grey-white;
  }
}
.navbar-default .navbar-nav>li>a {
    color: $ultralight-blue;
    &:hover{
      color: $grey-white;
    }
    &:visited{
      color: $grey-white;
    }
}
.navbar-default .navbar-nav>.open{
  background-image: none;
  background-color: $ultralight-blue;
}
.navbar-brand {
  padding-top:5px;
  padding-bottom:5px;
  img {
    height:100%;
  }
}
.navbar-toggle{
  transition: background 0.2s;
  background: $button-hover;
}
.pager {
  li{
    a{
      color: $text-color;

      &:hover{
        border-radius: 15px;
        background: $button-hover;
        transition: background 0.2s;
      }
    }
  }

}
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
.movies{
  margin-top: 30px;
}
a.list-group-item {
    height:auto;
    min-height:200px;
}

h2.rating{
  margin-top: 10px;
}
.stars {
    margin:20px auto 1px;
    margin-top: 0px;
}
//https://codepen.io/leogono/pen/pvaKNO
.glyphicon-star {
  &.half {
    position: relative;
    &:before {
      position: relative;
      z-index: 9;
      width: 47%;
      display: block;
      overflow: hidden;
    }
    &:after {
      content: '\e006';
      position: absolute;
      z-index: 8;
      color: $button-hover;
      top: 0;
      left: 0;
    }
  }
}
//make all stars look similar
.glyphicon-star-empty{
  content: '\e006';
  color: $button-hover;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.movie-poster{
  box-shadow: 0 0.5em 1.5em 0 rgba(0, 0, 0, .2), 0 0.5em 0.5em 0 rgba(0, 0, 0, .14), 0 1em 0.5em -0.5em rgba(0, 0, 0, .12);
}
.movie-list-img{
  max-height: 170px;
  width: auto;
  box-shadow: 0 0.5em 1.5em 0 rgba(0, 0, 0, .2), 0 0.5em 0.5em 0 rgba(0, 0, 0, .14), 0 1em 0.5em -0.5em rgba(0, 0, 0, .12),
      0 -0.5em 1.5em 0 rgba(0, 0, 0, .4), 0 -0.5em 0.5em 0 rgba(0, 0, 0, .28), 0 -1em 0.5em -0.5em rgba(0, 0, 0, .24);
}
.actor-img{
  max-height: 100px;
  width: auto;
  box-shadow: 0 0.5em 1.5em 0 rgba(0, 0, 0, .2), 0 0.5em 0.5em 0 rgba(0, 0, 0, .14), 0 1em 0.5em -0.5em rgba(0, 0, 0, .12);
}
//https://stackoverflow.com/questions/18602121/change-text-align-responsively-with-bootstrap-3
.text-center { text-align: center; }
@media (max-width: 768px) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
  .div-sm-center {margin:0 auto;}
  .img-sm-center {margin:0 auto;}
}
.panel {
  background: none;
}
footer, .push {
    height: 75px; /* .push must be the same height as .footer */
}
.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.movie-footer{
  padding-top:10px;
}
.content{
  background-image: linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%);//same as a bootstrap well
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 20px 5px 20px 5px;
  border-radius: 2px;
}
.btn-orange{
  background: $nav-color;
  color: #FFF;
  &:hover{
    color: #FFF;
  }
  &:active{
    color: #FFF;
  }
  &:visited{
    color: #FFF;
  }
}
.dropdown:hover{
  color: #FFF;
  background:darken( $nav-color, 10% )
}
.dropdown-menu-right{
  color: $text-color;
}
